<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="mainfeed_post.precompiled.js"></script>
<section>
    <div class="post">
        <button><img src="{{profPic}}" alt="author-pfp" class="profile-crop" name="populate-stats-hover-feed"></button>
    </div>
    <div class="post content primary font">
        <div class="author">
            <h3 class="author-name">{{username}}</h3>
            <h4 class="author-name">{{full_name}}</h4>
        </div>
        <div class="description">
            <p>{{description}}</p>
        </div>
        <video loop src="https://res.cloudinary.com/dllfvjfoy/video/upload/videos/{{video_id}}" width="400"></video>
    </div>
</section>
<hr class="solid">