<section>
    <div class="post">
        <button><img src="https://res.cloudinary.com/dllfvjfoy/image/upload/pfp/{{pfp_key}}" alt="author-pfp" class="profile-crop" name="populate-stats-hover-feed"></button>
    </div>
    <div class="post content primary font">
        <div class="author">
            <h3 class="author-name">{{username}}</h3>
            <h4 class="author-name">{{full_name}}</h4>
        </div>
        <div class="description">
            <p>{{description}}</p>
        </div>
        <video loop src="https://res.cloudinary.com/dllfvjfoy/video/upload/{{video_id}}.mp4" width="400"></video>
    </div>
</section>
<hr class="solid">

<script src="./bundle.js"></script>