<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="mainfeed_post.precompiled.js"></script>

<section class="post-container">
    <div id="spinner{{video_id}}" class="spinner"></div>
    <video loop muted="true" webkit-playsinline playsinline src="https://res.cloudinary.com/dllfvjfoy/video/upload/videos/{{video_id}}" width="400rem" data-video-id="{{video_id}}"></video>
    <div class="post-container--info">
        <div class="post-container-overlay">
            <div class="post">
                <button class="profile-button"><img src="{{profPic}}" alt="author-pfp" class="profile-crop" data-name="populate-stats-hover-feed"></button>
            </div>
            <div class="post content primary font">
                <div class="author">
                    <h3 class="author-name" data-name="populate-stats-hover-feed">{{username}}</h3>
                </div>
                <div class="description">
                    <p data-name="populate-stats-hover-feed">{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>